[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "==0.22.*"
pyperclip = "==1.8.2"
pytube = "==15.0.0"
moviepy = "==1.0.3"
ffmpeg-python = "==0.2.0"
pydub = "==0.25.1"
imageio = "==2.34.1"
imageio-ffmpeg = "==0.4.9"

[dev-packages]

[requires]
python_version = "3.9"
